@import "bootstrap/scss/bootstrap";
@import "sass-material-colors/sass/sass-material-colors-classes";


// Boucle pour générer les classes de hauteur
@for $i from 5 through 500 {
    @if $i % 10 == 0 {
        .h-#{$i} {
            height: #{$i}px;
        }
    }
}

// Boucle pour générer les classes de largeur
@for $i from 5 through 500 {
    @if $i % 10 == 0 {
        .w-#{$i} {
            width: #{$i}px;
        }
    }
}

body {
    width: auto;
    height: 100%;
}

.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #fff;
}

.btn.btn-xs {
    height: calc(1rem + 1.1rem + 2px);
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5rem + 1.55rem + 2px);
    width: calc(1.5rem + 1.55rem + 2px);
    line-height: 1;
}

.btn.btn-icon.btn-sm {
    height: calc(1.25rem + 1.35rem + 2px);
    width: calc(1.25rem + 1.35rem + 2px);
}
.btn.btn-icon.btn-xs {
    height: calc(1rem + 1.1rem + 2px);
    width: calc(1rem + 1.1rem + 2px);
}
